@model CombinedPiesAndListViewModel

<style>
    #createModalBtn{
        margin: 15px;
    }
</style>
<html>
<body>
    <h1>@Model.CurrentCategory</h1>

    <div>
        <button type="button" id="createModalBtn" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Create pie</button>
    </div>

    <div>
        <button type="button" id="createCategoryBtn" class="btn btn-primary " data-toggle="modal" data-target="#myCategoryModal">Create Category</button>
    </div>

    <partial name="_FormModalPartial" />

    @foreach (var pie in Model.Pies)
    {
        <partial name="_PieManagerCard" model="pie" />
    }



    <div id="myCategoryModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form asp-controller="PieManager"
                          asp-action="CreateCategory"
                          method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label asp-for="Category.CategoryName" class="col-md-2 control-label"></label>
                            <div class="col-sm-5">
                                <input id="CategoryName" asp-for="Category.CategoryName" class="form-control" />
                                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category.Description" class="col-md-2 control-label"></label>
                            <div class="col-sm-5">
                                <input id="Description" asp-for="Category.Description" class="form-control" />
                                <span asp-validation-for="Category.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" data-save="modal">Add Category</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>