@model CombinedPiesAndListViewModel

<style>
    #createModalBtn{
        margin: 15px;
    }
</style>
<html>
<body>
    <h1>@Model.CurrentCategory</h1>

    <div>
        <button type="button" id="createModalBtn" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Create pie</button>
    </div>    

    <partial name="_FormModalPartial" />

    @foreach (var pie in Model.Pies)
    {
        <partial name="_PieManagerCard" model="pie" />
    }    
</body>
</html>